<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Groupie Tracker</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="flex flex-col items-center"> 

    <div class="text-center py-6 bg-white shadow">
      <a href="/">
        <h1 class="text-3xl font-bold">Groupie Tracker</h1>
      </a>
    </div>

    <div class="card w-[75%] rounded overflow-hidden shadow-lg bg-white hover:shadow-xl transition duration-300 cursor-pointer">
      <!-- info suda -->
      <div class="flex justify-center">
        <div>

          <!-- artist image -->
          <img class="w-full h-[30%] object-cover" src="{{.Artist.Image}}" alt="{{.Artist.Name}}" />
          
          <!-- artist name -->
          <div class="px-6 py-4 border-t">
            <h2 class="text-lg font-semibold text-gray-900">{{.Artist.Name}}</h2>
          </div>

          <div class="flex space-x-4">
            <div class="w-1/2 bg-blue-100 p-4">
              <!-- Левая колонка -->
              <h3 class="text-md font-semibold text-gray-800 mb-2">Members:</h3>
              <ul class="list-disc list-inside text-gray-700">
                {{range .Artist.Members}}
                  <li>{{.}}</li>
                {{end}}
              </ul>

              <h3 class="text-md font-semibold text-gray-800 mt-4 mb-2">Creation Date:</h3>
              <p class="text-gray-700">{{.Artist.CreationDate}}</p>

              <h3 class="text-md font-semibold text-gray-800 mt-4 mb-2">First Album:</h3>
              <p class="text-gray-700">{{.Artist.FirstAlbum}}</p>
            </div>

            <div class="w-1/2 bg-green-100 p-4">
  <h3 class="text-md font-semibold text-gray-800 mb-2">Relations:</h3>
  {{range .Relations}}
    <ul>
      {{range $location, $dates := .DatesLocations}}
        <li><strong>{{$location}}:</strong>
          <ul>
            {{range $dates}}
              <li>{{.}}</li>
            {{end}}
          </ul>
        </li>
      {{end}}
    </ul>
  {{end}}

  <h3 class="text-md font-semibold text-gray-800 mt-4 mb-2">Locations:</h3>
  <ul>
    {{range .Locations}}
      {{range .Locations}}
        <li>{{.}}</li>
      {{end}}
    {{end}}
  </ul>

  <h3 class="text-md font-semibold text-gray-800 mt-4 mb-2">Dates:</h3>
  <ul>
    {{range .Dates}}
      {{range .Dates}}
        <li>{{.}}</li>
      {{end}}
    {{end}}
  </ul>
</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
</html>

<!-- artists: members, creationDate, firstAlbum -->
<!-- tours: relations: datesLocations-->