<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Groupie Tracker</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class ="flex flex-col items-center"> 

    <div class="text-center py-6 bg-white shadow">
      <a href="/">
          <h1 class="text-3xl font-bold">Groupie Tracker</h1>

        </a>
  </div>
  <div class="card w-72 rounded overflow-hidden shadow-lg bg-white hover:shadow-xl transition duration-300 cursor-pointer">
    <!-- info suda -->
    <div class="flex justify-center">
      <div>

        <!-- artists: image -->
        <img class="w-full h-48 object-cover" src="{{.Image}}" alt="{{.Name}}">
        <!-- artists: name -->
        <div class="px-6 py-4 border-t">
          <h2 class="text-lg font-semibold text-gray-900">{{.Name}}</h2>
        </div>
        <div class="flex space-x-4">
    <div class="w-1/2 bg-blue-100 p-4">Левая колонка: artists: members, creationDate, firstAlbum</div>
    <div class="w-1/2 bg-green-100 p-4">Правая колонка: tours: relations: datesLocations</div>
  </div>
          <!-- artists: members, creationDate, firstAlbum -->
          <!-- tours: relations: datesLocations-->
      </div>
    </div>
    </div>
  </div>
    

</body>
</html>
