<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Groupie Tracker</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

  <div class="flex flex-col items-center px-4 py-6">
    
    <div class="text-center py-6 bg-white shadow rounded-lg w-full sm:w-3/4 md:w-1/2">
      <a href="/">
        <h1 class="text-4xl font-extrabold text-gray-800">Groupie Tracker</h1>
      </a>
    </div>

    <!-- Карточка информации о артисте -->
    <div class="card w-full sm:w-3/4 md:w-1/2 rounded-lg overflow-hidden shadow-lg bg-white hover:shadow-xl transition duration-300 cursor-pointer mt-8">

      <div class="flex flex-col items-center">
        
        <img class="w-full h-64 object-cover" src="{{.Artist.Image}}" alt="{{.Artist.Name}}" />

        <div class="px-6 py-4 border-t w-full">
          <h2 class="text-2xl font-semibold text-gray-900">{{.Artist.Name}}</h2>
        </div>

        <div class="flex flex-col sm:flex-row space-x-4 px-6 py-4 w-full">
          
          <!-- Левая колонка: Члены группы, Дата создания, Первый альбом -->
          <div class="w-full sm:w-1/2 bg-blue-100 rounded-lg p-4 shadow-md mb-4 sm:mb-0">
            <h3 class="text-lg font-semibold text-gray-800 mb-2">Members:</h3>
            <ul class="list-disc list-inside text-gray-700 mb-4">
              {{range .Artist.Members}}
                <li>{{.}}</li>
              {{end}}
            </ul>

            <h3 class="text-lg font-semibold text-gray-800 mb-2">Creation Date:</h3>
            <p class="text-gray-700">{{.Artist.CreationDate}}</p>

            <h3 class="text-lg font-semibold text-gray-800 mb-2 mt-4">First Album:</h3>
            <p class="text-gray-700">{{.Artist.FirstAlbum}}</p>
          </div>

          <!-- Правая колонка: Relations, Locations, Dates -->
          <div class="w-full sm:w-1/2 bg-green-100 rounded-lg p-4 shadow-md">
            <h3 class="text-lg font-semibold text-gray-800 mb-2">Relations:</h3>
            {{range .Relations}}
              <ul>
                {{range $location, $dates := .DatesLocations}}
                  <li><strong>{{$location}}:</strong>
                    <ul class="list-inside pl-4">
                      {{range $dates}}
                        <li>{{.}}</li>
                      {{end}}
                    </ul>
                  </li>
                {{end}}
              </ul>
            {{end}}

            <h3 class="text-lg font-semibold text-gray-800 mt-4 mb-2">Locations:</h3>
            <ul class="list-inside pl-4">
              {{range .Locations}}
               {{range .Locations}}
                <li>{{.}}</li>
              {{end}}
              {{end}}
            </ul>

            <h3 class="text-lg font-semibold text-gray-800 mt-4 mb-2">Dates:</h3>
            <ul class="list-inside pl-4">
              {{range .Dates}}
              {{range .Dates}}
                <li>{{.}}</li>
              {{end}}
              {{end}}
            </ul>
          </div>

        </div>
      </div>
    </div>

  </div>

</body>
</html>
