<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{.ErrorCode}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body >
    <div id="notfound" >
      <img  src={{if eq .ErrorCode 500
      }}"/static/internalerror.gif"{{else}}"/static/error.gif"{{end}}/>
      <h1 >{{.ErrorMessage}}</h1>
      <p >
        <br />I can't point you in the right direction, but I can at least bring
        you back <a href="http://localhost:8080/" >home</a>.
      </p>
    </div>
  </body>
</html>
      </p>
    </div>
  </body>
</html>
